#rover_grid{ 
  'data-controller': "#{controller}", 
  'data-action': "click->#{controller}#move_rover", 
  "data-#{controller}-target": 'roverGrid' 
  }
  
  = image_tag 'small_rover.png', { class: 'east', id: 'rover_image', alt: 'rover image', 'data-action': "click->#{controller}#rotate", "data-#{controller}-target": 'roverImage'  }
  
  - 25.times do
    .square

      